# Java specific files
*.jar
*.class

# Gradle
# Gradle specific files and directories
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/*.jar

# IntelliJ IDEA specific files and directories
out/

*.iml
*.ipr
*.iws

# macintosh specific file
.DS_Store

# vim
*~

# generated source file
src/main/groovy/org/mikeneck/gradle/plugin/model/*.java
